<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-secondary">
            <h5 class="modal-title" id="modalLabelNextStep">{{#nextPhase}}Siguiente fase{{/nextPhase}}{{^nextPhase}}Abrir tienda{{/nextPhase}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="formNextStep">
            <div class="modal-body bg-light text-secondary">
                {{#nextPhase}}
                    <p>¿Estás seguro de que deseas pasar a la siguiente fase?</p>
                    <p>No podrás comprar más accesorios y tendrás que enviar a los niños a por caramelos tal y como están ahora.</p>
                {{/nextPhase}}
                {{^nextPhase}}
                    <p>¿Estás seguro de que deseas abrir esta tienda?</p>
                    <p>La tienda donde estás comprando actualmente se cerrará y no podrás comprar ninguno de sus accesorios.</p>
                {{/nextPhase}}
            </div>
            <div class="modal-footer bg-secondary">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-dark">Aceptar</button>
            </div>
        </form>
    </div>
</div>
